//====================================================================================================

//====================================================================================================
/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
	.icon-menu {
	display: block;
	position: absolute;
	top: 23px;
	right: 20px;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
	span {
		@include anim(0.3s, 0s);
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #2c3241;
		&:first-child {
			top: 0px;
		}
		&:last-child {
			top: auto;
			bottom: 0px;
		}
	}
	&.active {
		span {
			@include scale(0);
			&:first-child {
				@include rotate(-45deg);
				top: 8px;
			}
			&:last-child {
				@include rotate(45deg);
				bottom: 8px;
			}
		}
	}
}
.menu {
	&__body {
		height: 100vh;
		width: 100%;
		background: #f4f5f7;
		position: fixed;
		top: 63px;
		right: -100%;
		transition: 0.7s;
		z-index: 4;
		padding: 50px 30px;
		display: flex;
		justify-content: center;
	}
	&__body.active {
		height: 100vh;
		width: 100%;
		background: #f4f5f7;
		position: fixed;
		top: 63px;
		right: 0;
		transition: 0.7s;
		z-index: 4;
		padding: 50px 30px;
		display: flex;
		justify-content: center;
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
	}
	&__list li {
		width: 100%;
	}

	&__list a {
		font-size: 44px;
		line-height: normal;
	}

	&__link {
	}
*/
